* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1a1918;
    width: 100vw;
    height: 100vh;
    font-family: 'inconsolata', monospace;
    color: white;
    overflow-x: hidden!important;
}
.kepler {
    font-family: 'kepler-std', serif;
    font-style: italic;
    letter-spacing: .5px;
    font-weight: 700;
}

#o,#x {
    display: none!important;
}
nav {
    height: 10vh;
    width: 100%;
    background-color: #000000;
/*    opacity: 0.75;*/
    position: fixed;
    z-index: 1;
}
.navcont2 {
    display: flex;
    height: 10vh;
    width: 80%;
    margin: 0 10%;
    justify-content: space-between;
    z-index: 10000;
    align-items: center;
}
.navleft p, .navleft a, .navright p, .navright a {
    color: white;
    text-decoration: none;
}
nav div {
    display: flex;
}
.navleft p:nth-child(2), .navright p:nth-child(2) {
    margin: 0 1rem;
}
#val {
    font-size: 1.5rem;
    line-height: 1.4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#val a {
    text-decoration: none;
    color: white;
}
.sun, .moon {
    color: white;
}
.panel {
    display: none;
}
.about {
    display: flex;
    width: 80%;
    margin: 0 10%;
    padding: 15vh 0 0 0;
    align-items: center;
}
.about .col1 {
    width: 30%;
}
.about .col1 img {
    width: 100%;
}
.about .col2 {
    width: 60%;
    margin-left: 10%;
}
.about .col2 a {
    text-decoration: none;
    color: #ffffff;
}
.about .col2 a:hover {
    text-decoration: line-through;
    font-weight: 700;
}
.header {
    font-family: 'kepler-std', serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 2rem;
    line-height: 2.3rem;
}
.footer {
    margin-top: 5vh;
    height: 20vh;
    background-color: #000000;
    width: 100%;
/*    opacity: 0.75;*/
}
.footercont {
    width: 80%;
    margin: 0 10%;
    height: 20vh;
    display: flex;
    align-items: center;
}
.footercont p {
    width: 100%;
    text-align: center;
}
.footercont p span {
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.footercont a {
    text-decoration: none;
    color: white;
}
.navleft a:hover, .footercont a:hover {
    text-decoration: line-through;
    font-weight: 700;
}
.hero #dt {
    width: auto;
    height: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*project*/
.hero {
    width: 100%;
    padding-top: 10vh;
    height: 70vh;
    position: relative;
    object-fit: cover;
}
.hero video {
    object-fit: cover;
    width: 125%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hero .gifs {
    width: 18%;
    height: auto;
    object-fit: cover;
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);

}
.width {
    width: 80%;
    margin: 0 10%;
}
.hero-cont {
    position: absolute;
    bottom: 3rem;
    width: 100%;
}
.project-title {
    font-family: 'kepler-std';
    font-style: italic;
    letter-spacing: 1px;
    font-size: 2.8rem;
    line-height: 3rem;
}
.project-desc {
    display: flex;
    padding: 5rem 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed #ffffff;
}
.project-desc span {
    margin: 0 1rem;
}
.project-desc-col {
    width: auto;
}
.project-txt {
    margin-top: 5rem;
}
.proj-body {
    margin-bottom: 5rem;
}
#test {
    display: none;
}
.divider {
    margin: 5rem 10%;
    text-align: center;
}
.sun {
    display: block;
}
.moon {
    display: none;
}
.sun:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition: ease;
    transition-duration: 1s;
}
.moon:hover {
    cursor: pointer;
    transform: rotate(-30deg);
    transition: ease;
    transition-duration: 1s;
}
.project a {
    color: white;
}
li {
    list-style-position: outside;
}
.proj-body-no-sp {
    margin: 0;
}
.indent {
    margin-left: 1rem;
    list-style: circle;
}
ul {
    margin-left: 1rem;
    width: calc(80%-1rem);
}
.grid {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
.grid span {
    display: flex;
    justify-content: space-between;
}
.grid span:nth-child(1) {
    margin-right: 5%;
}
.grid-item {
    width: 45%;
}
.grid-item img {
    width: 100%;
}
figcaption {
    color: gray;
    font-size: .9rem;
}
.dt-row {
    display: flex;
    width: 100%;
    /* height: 450px; */
    justify-content: space-between;
    margin-bottom: 2%;
}
.dt-row:last-of-type {
    padding-bottom: 5rem!important;
}
.dt-row-box {
    width: 48%;
}
.dt-row-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dt-row-img-box {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* generate */
.generate {
    position: relative;
}
.generate #generate-box {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.generate #gen-btn {
    width: 80px;
    clear:right;
    border: 2px solid #aca297;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 15px!important;
}
.generate #gen-btn:hover, .generate #gen-btn:active {
    background-color: #aca297;
}
.generate a {
    width: 80px;
    text-decoration: none;
    cursor: pointer!important;
}



@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .project {
        width: 100%;
    }
    .about {
        flex-direction: column;
    }
    .about .col1, .about .col2 {
        margin: 0 0 0 0;
        padding: 0;
        width: 100%;
    }
    .about .col1 {
        margin-bottom: 3rem;
    }
    .footer {
        position: relative;
    }
    .project-desc {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .project-desc span {
        margin: 1rem 0;
    }
    .grid {
        flex-direction: column;
    }
    .grid-item {
        width: 45%;
    }
    .grid span:nth-child(1) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .navleft p {
        display: none;
    }
    .burger {
        font-size: 1.3rem;
    }
    #x {
        display: none;
    }
    #o {
        display: block!important;
    }
    .panel {
        background-color: #000000;
        height: 101vh;
        width: 100%;
        position: fixed;
        top: 10vh;
        /* bottom: 20px; */
        display: none;
        z-index: 3;
    }
    #panelcont {
        padding: 3vh 10% 0;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
    }
    #panelcont a {
        text-decoration: none;
        color: #ffffff;
    }
    #panelcont a:hover {
        text-decoration: line-through;
        font-weight: 700;
    }
    .hero .gifs {
        width: 35%;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-65%);
    }
    .dt-row {
        flex-direction: column;
    }
    .dt-row-box {
        width: 100%;
        margin-bottom: 2rem;
    }
    .dt-row-box:nth-child(3) {
        margin-bottom: 0;
    }
    .hero #dt {
        height: 20%;
    }
    .hero {
        overflow: hidden;
    }
}










