* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1a1918;
    width: 100vw;
    height: 100%;
    font-family: 'inconsolata', monospace;
    color: #fffafa;
    overflow-x: hidden!important;
}
.kepler {
    font-family: 'instrument serif', serif;
    text-transform: capitalize;
    font-style: italic;
    /* letter-spacing: .5px; */
    font-weight: 400;
}
.navcont, #panelcont, .footercont {
    text-transform: capitalize;
}
#o,#x {
    display: none!important;
}
p, ul, li {
    font-size: 1rem!important;
    line-height: 1.3rem;
}
a {
    color: #fffafa;
}
a:hover {
    text-decoration: line-through!important;
    text-decoration-thickness: 3px;
    font-weight: 700;
}
nav {
    height: 10vh;
    width: 100%;
    background-color: #000000;
/*    opacity: 0.75;*/
    display: block;
    z-index: 1;
    top: 0;
    position: fixed;
}
.navcont2 {
    display: flex;
    height: 10vh;
    width: 65%;
    margin: 0 17.5%;
    justify-content: space-between;
    z-index: 10000;
    align-items: center;
}
.navleft p, .navleft a, .navright p, .navright a {
    color: #fffafa;
    text-decoration: none;
}
nav div {
    display: flex;
}
.navleft p:nth-child(2), .navright p:nth-child(2) {
    margin: 0 1rem;
}
#val {
    font-size: 1.5rem!important;
    line-height: 1.4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#val a, #val a:hover {
    text-decoration: none;
}
.sun, .moon {
    color: #fffafa;
}
.panel {
    display: none;
}


body {
    width: 100%;
    height: auto!important;
    position: relative;
}
.proj-cont {
    margin-top: 10vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
/* ----------------------- */
#abtpg .about {
    height: auto%;
    width: 70%; 
    display: flex;
    /* margin-top: 10vh; */
    margin: 10vh 15% 0;
}
#abtpg .col2 h1 {
    font-weight: 400;
}
#abtpg .col1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#abtpg .col1 img {
    width: 100%;
    height: auto;
    top: 0;
}
#abtpg .col2 {
    margin-left: 5%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content:flex-start;
}
#abtpg .footer {
    height: 20vh;
    background-color: #000000;
    width: 100%;
    position: absolute;
    bottom: 0!important;
    margin-top: 15vh!important;
/*    opacity: 0.75;*/
}
/* ----------------------- */
.header {
    font-family: 'instrument serif'!important;
    text-transform: capitalize;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0;
}
/* #abtpg .footer {
    position: absolute;
    bottom: 0;
} */
.footer {
    margin-top: 5rem;
    height: 20vh;
    background-color: #000000;
    width: 100%;
    position: relative!important;
    bottom: 0;
/*    opacity: 0.75;*/
}
.footercont {
    width: 80%;
    margin: 0 10%;
    height: 20vh;
    display: flex;
    align-items: center;
}
.footercont p {
    width: 100%;
    text-align: center;
}
.footercont p span {
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.footercont a {
    text-decoration: none;
}
.hero #dt {
    width: 130%;
    height: auto;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}


/*project*/
.hero {
    width: 100%;
    /* padding-top: 10vh; */
    height: 50vh;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}
.hero video {
    object-fit: cover;
    width: 125%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hero .gifs {
    width: auto;
    height: 90%;
    object-fit: cover;
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    overflow: hidden;
}
#logify-bubble {
    height: auto;
    width: 20%;
    position:absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.width {
    width: 65%;
    margin: 0 17.5%;
}
.hero-cont {
    position: absolute;
    margin: 0;
    bottom: -5vh;
    width: 100%;
    
}
.hero-cont img {
    left: 20%;
    transform: translateX(-10%);
}
#dfgpic {
    width: auto;
}
#pawsh {
    height: 15%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.project-title {
    font-family: 'instrument serif', serif;
    font-style: italic;
    text-transform: capitalize;
    font-size: 3.2rem;
    line-height: 3.2rem;
}
.project-desc {
    /* display: flex; */
    padding: 5rem 0!important;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 2px dashed #fffafa;
    text-transform: capitalize;
}
.project-desc h1 {
    font-size: 2.8rem;
    font-family: 'instrument serif', serif;
    font-style: italic;
    text-transform: capitalize;
    font-weight: 400;
}
.project-desc > div {
    display: flex;
    margin-top: 1rem;
}
.project-desc span {
    margin: 0 3rem;
}
.project-desc-col {
    width: 80%;
}
#uprightdesc3 {
    width: 80%!important;
}
.project-txt {
    margin-top: 5rem;
}
.proj-body {
    margin-bottom: 5rem;
}
.proj-body:last-of-type {
    margin-bottom: 0;
}
.proj-body a {
    text-decoration: underline;
}
.proj-body a:hover {
    text-decoration: line-through;
    font-weight: 700;
}
.callout {
    font-style: italic;
    border-left: 3px solid lightgray;
    margin-top: 2rem;
}
.callout p {
    padding: 1rem .5rem 1rem 2rem;
}



#test {
    display: none;
}
.divider {
    margin: 5rem 10%;
    text-align: center;
}
.sun {
    display: block;
}
.moon {
    display: none;
}
.sun:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition: ease;
    transition-duration: 1s;
}
.moon:hover {
    cursor: pointer;
    transform: rotate(-30deg);
    transition: ease;
    transition-duration: 1s;
}
.project a {
    color: #fffafa;
}
li {
    list-style-position: outside;
}
.proj-body-no-sp {
    margin: 0;
}
.indent {
    margin-left: 1rem;
    list-style: circle;
}
ul {
    margin-left: 1rem;
    width: calc(80%-1rem);
}
.grid {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
.grid span {
    display: flex;
    justify-content: space-between;
}
.grid span:nth-child(1) {
    margin-right: 5%;
}
.grid-item {
    width: 45%;
}
.grid-item img {
    width: 100%;
}
figcaption {
    color: gray;
    font-size: .9rem;
    margin-top: 10px;
}
.dt-row {
    display: flex;
    width: 100%;
    /* height: 450px; */
    justify-content: space-between;
    margin-bottom: 5%!important;
}
/* .dt-row:last-of-type {
    padding-bottom: 5rem!important;
} */
.dt-row-box {
    width: 48%;
}
.dt-row-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dt-row-img-box {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* generate */
.generate {
    position: relative;
}
.generate #generate-box {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.generate #gen-btn {
    width: 80px;
    clear:right;
    border: 2px solid #aca297;
    text-align: center;
    color: #fffafa;
    margin-top: 20px;
    padding: 15px!important;
}
.generate #gen-btn:hover, .generate #gen-btn:active {
    background-color: #aca297;
}
.generate a {
    width: 80px;
    text-decoration: none;
    cursor: pointer!important;
}

/* @media only screen and (min-width: 768px) and (max-width: 1000px){
    .about .col1 {
        width: 40%!important;
    }
    .about .col2 {
        width: 55%!important;
    }
} */
@media only screen and (min-width: 600px) and (max-width: 1000px){
    #abtpg .about {
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
    }
    #abtpg .about .col1, #abtpg .about .col2 {
        margin: 0 0 0 0;
        padding: 0;
        width: 100%;
    }
    #abtpg .about .col1 img {
        width: 40%;
        margin: 0 30%;
    }
    #abtpg .about .col1 {
        margin-bottom: 3rem;
    }
    #abtpg .proj-cont {
        padding-top: 10vh;
        margin: 0;
    }
    #abtpg .about .col2 {
        max-width: 100%;
    }
    #abtpg .footer {
        bottom: 0;
        position:relative!important;
        margin-top: 10vh;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .project-desc {
        flex-direction: row!important;
        padding: 3.5rem 0!important;
        /* justify-content: flex-start;
        align-items: flex-start; */
    }
    .project-desc > div {
        flex-direction: column;
    }
    .project-desc br, .project-desc span {
        display: none;
    }
    .project-desc b {
        margin-right: 5px;
    }
    .project-desc-col, #uprightdesc3 {
        width: 100%!important;
    }
    .navcont {
        width: 100%;
    }
    .navcont2 {
        margin: 0 7.5%;
        width: 85%;
    }
    .navleft p {
        display: none;
    }
    .burger {
        font-size: 1.3rem;
    }
    #x {
        display: none;
    }
    #o {
        display: block!important;
    }
    .panel {
        background-color: #000000;
        height: 101vh;
        width: 100%;
        position: fixed;
        top: 10vh;
        /* bottom: 20px; */
        display: none;
        z-index: 3;
    }
    #panelcont {
        padding: 3vh 7.5% 0;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
    }
    #panelcont a {
        text-decoration: none;
        color: #fffafa;
    }
    #panelcont a:hover {
        text-decoration: line-through;
        font-weight: 700;
    }
    #logify-bubble {
        height: 30%;
    }

}



@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        /* height: 100%; */
    }
    .width {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .project {
        width: 100%;
    }
    .footer {
        position: relative!important;
        margin-top: 3.5rem;
    }
    .project-desc {
        flex-direction: row!important;
        padding: 3.5rem 0!important;
        /* justify-content: flex-start;
        align-items: flex-start; */
    }
    .project-desc > div {
        flex-direction: column;
    }
    .project-desc br, .project-desc span {
        display: none;
    }
    .project-desc b {
        margin-right: 5px;
    }
    .project-desc-col, #uprightdesc3 {
        width: 100%!important;
    }
    .grid {
        flex-direction: column;
    }
    .grid-item {
        width: 45%;
    }
    .grid span:nth-child(1) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .navcont {
        width: 100%;
    }
    .navcont2 {
        margin: 0 10%;
        width: 80%;
    }
    .navleft p {
        display: none;
    }
    .burger {
        font-size: 1.3rem;
    }
    #x {
        display: none;
    }
    #o {
        display: block!important;
    }
    .panel {
        background-color: #000000;
        height: 101vh;
        width: 100%;
        position: fixed;
        top: 10vh;
        /* bottom: 20px; */
        display: none;
        z-index: 3;
    }
    #panelcont {
        padding: 3vh 10% 0;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
    }
    #panelcont a {
        text-decoration: none;
        color: #fffafa;
    }
    #panelcont a:hover {
        text-decoration: line-through;
        font-weight: 700;
    }
    .hero .gifs {
        width: 25%;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-65%);
    }
    .dt-row {
        flex-direction: column;
        margin-bottom: 0!important;
    }
    .dt-row-box {
        width: 100%;
        margin-bottom: 2rem;
    }
    .dt-row-box:nth-child(3) {
        margin-bottom: 0;
    }
    .hero #dt {
        height: 28vh!important;
        width: auto!important;
    }
    .hero {
        overflow: hidden;
        height: 35vh;
        width: 100%!important;
        margin: 0;
        
    }
    .hero-cont {
        margin: 0;
        bottom: -2vh;
    }
    .hero-cont img {
        left: 32%;
        transform: translateX(-27%);
    }
    #logify-bubble {
        height: 60%;
        width: auto;
        left: 10%;
    }
    .project-desc {
        flex-direction:row!important;
    }
    .project-desc h1 {
        font-size: 2.5rem;
    }
    #logify-project-desc {
        flex-direction: column!important;
    }
    #abtpg .about {
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
    }
    #abtpg .about .col1, #abtpg .about .col2 {
        margin: 0 0 0 0;
        padding: 0;
        width: 100%;
    }
    #abtpg .about .col1 {
        margin-bottom: 3rem;
    }
    #abtpg .proj-cont {
        padding-top: 10vh;
        margin: 0;
    }
    #abtpg .about .col2 {
        max-width: 100%;
    }
    #abtpg .footer {
        bottom: 0;
        position:relative!important;
        margin-top: 10vh;
    }
}










