* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.about i {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
}
.sun:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition: ease;
    transition-duration: 1s;
}
.moon:hover {
    cursor: pointer;
    transform: rotate(-30deg);
    transition: ease;
    transition-duration: 1s;
}
.about .sun {
    display: block;
}
.about .moon {
    display: none;
}
.home .moon {
    display: none;
}
.home .sun {
    display: block;
}

body {
    background-color: #1a1918;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-family: 'Inconsolata', monospace;
}
h4,p {
    font-size: 1.1rem;
    line-height: 1.3rem;
}
h1 {
    font-weight: 700;
}
.body {
    display: block;
}

.home #nav3 a, #homefoot a {
    color: #000000;
}
#nav3 a, #homefoot a{
    text-decoration: none;
} 
#nav3 a:hover, #homefoot a:hover {
    font-weight: 900;
    text-decoration: line-through;
/*    text-transform: uppercase;*/
}
#header {
    text-align: center;
    margin-bottom: 1rem;
}
#header h1 {
/*    text-transform: uppercase;*/
    font-family: 'kepler-std', serif;
    font-size: 2.5rem;
    font-style:italic;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 1px;
/*    font-family: 'Inconsolata', monospace;*/
}
.cont {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    opacity: 1!important;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Inconsolata', monospace;
}
#box {
    width: 40%!important;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('https://images.unsplash.com/photo-1586074032362-2a21ee1ae5f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-size: cover;
    overflow: hidden;
}
#overlay {
    background-color: #aca297;
    width: 100%;
    height: 100%;
    opacity: 0.35;
}
#flowa {
    position: absolute;
    top: 28%;
    right: -5%;
    width: 180px;
    transform: rotate(-25deg);
    opacity: 0.5;
}
#ghosty {
    position: absolute;
    bottom: -2%;
    left: 1%;
    width: 180px;
    transform: rotate(12deg);
    opacity: 0.5;
}
.divider {
    text-align: center;
}
.dividersp {
    display: inline-block;
}
#valerie, #homefoot {
    overflow: hidden;
    text-decoration: none;
    color: #000000;
}
#nav {
    justify-content: space-around;
    width: 50%;
    margin: 0 25%;
/*    display: flex;*/
}
#test {
    display: none;
}
#nav2 {
    display: flex;
    width: 90%;
    margin: 0 5%;
    text-transform: uppercase;
}
.home #nav3 {
    display: flex;
    width: 70%;
    margin: 0 15%;
    justify-content: space-around;
}

.col1 {
/*    width: 10%;*/
}
.col1 p {
    font-size: 1.2rem;
}
.col2 {
    width: 95%;
    padding-left: 1%;
}
.category {
    display: flex;
    width: 90%;
    margin: 1% 5%;
}

.scroll {
    padding: 1rem 0;
    display: none;
    width: 100%;
    overflow-x: scroll!important;
}
.scrollcont {
    display: flex;
    width: auto;
}
.projcont {
    width: 450px;
    margin-right: 5%;
    text-decoration: none;
    color: black;
}
.projcont:last-of-type {
    margin: 0;
}
.imgcont {
    height: 300px;
    width: 450px;
    background-color: white;
}
#hi {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-size: 1.2rem;
    margin-left: 5px;
    
}
#des {
    cursor: pointer;
    font-family: 'kepler-std', serif;
    font-size: 2.5rem;
    line-height: 3.1rem;
    font-weight: 300;
    font-style: italic;
    color: black;
    text-decoration: none;
}
#des:hover, #frontend:hover, #data:hover {
/*    text-transform: uppercase;*/
/*    font-weight: 900;*/
    text-decoration: line-through;
    text-decoration-skip:objects;
}
.descrip {
    font-size: 1rem;
    line-height: 1rem;
}

#box2 {
    display: none;
    width: 60%;
}

#box2 p {
    color: white;
}

.content {
    display: none;
    color: white;
    width: 50%;
/*    margin-left: 10%;*/
}
#homefoot {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

.mobilenav {
    display: none;
}


/*about page*/
.about .cnav, .about .cnav a {
    color: white;
}
.cnav {
    padding: 1% 0;
    padding-bottom: 3%;
    background-color: #1a1918;
    z-index: 10000;
}
.cnavcont {
    display: flex;
    width: 90%;
    margin: 1% 5%;
    justify-content: space-between;
    align-items: center;
}
.cnavcont #nav3 {
    width: 85%;
    margin: 0;
}
.cnav #nav3 b {
    margin-right: 2rem;
}
.cnav #nav3 b a {
    font-family: 'kepler-std', serif;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.about .divider {
    margin-bottom: 0;
    color: #ffffff;
}
.pcont {
    width: 90%;
    height: auto;
    margin: 0 5%;
    display: block;
}
.abtcont {
    display: flex;
    width: 80%;
    min-height: 70vh;
    margin: 0 10%;
}
#abt1 {
    min-width: 35%;
    max-width: 100%;
    position: relative;
    margin-right: 7%;
    border: 1px dashed #ffffff;
}
#me {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}
.abt-imgcont {
    width: 100%;
    height: 300px;
    background-color: white;
    position: relative;
}
.abt-imgcont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about2 {
    width: 60%;
    color: white;
    align-items: center;
    display: flex;
/*    background-color: pink;*/
}
.title {
    font-family: 'kepler-std', serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/*footer*/
#footerdivider {
    margin-top: 3%;
}
.footer {
    height: 15vh;
    width: 80%;
/*    position: fixed;*/
    margin: 0 10%;
    color: white;
    position: relative;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer b {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: 'kepler-std', serif;
    font-style: italic;
    letter-spacing: 1px;
}
.footer a:hover{
    text-decoration: line-through;
    color: white;
}
.footerwrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}




@media only screen and (max-width: 600px) {
    #box {
        width:90%!important;
    }
    .mobilenav {
        height: 100vh;
        width: 70%;
        z-index: 3;
        background-color: pink;
        margin: 0!important;
        padding: 0!important;
        position: absolute;
        left: 0;
        padding: 20% 0 0 10%;
    }
    .cnav {
        padding: 3% 0 5% 0;
    }
    #nav3 {
        width: 50%;
    }
    .mobilenav li a {
        font-size: 4rem;
        font-family: 'kepler-std', serif;
        text-decoration: none;
        color: white;
        font-style:italic;
        
    }
    .mobilenav li a:hover {
        text-decoration: line-through;
    }
    .mobilenav ul {
        margin: 20% 0 0 10%;
        list-style: none;
    }
    .mobilenavnum {
        line-height: 1.2rem;
        font-size: 1.2rem;
        margin-right: .5rem;
        color: white;
    }
    .abtcont {
        flex-direction: column;
    }
    .abtcont {
        height: auto;
        width: 90%;
        margin: 0 5%;
    }
    #abt1, .about2 {
        width: 100%;
        height: auto;
    }
    #abt1 {
        height: 550px;
        margin-bottom: 5%;
    }
    #footerdivider {
        margin-top: 5%
    }
    .footer {
        height: 20vh;
        position:relative;
    }
    .footerwrap {
        text-align: left;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: auto;
    }
    .footerwrap p:nth-child(2) {
        margin-top: 5%;
    }
    
    /*about page*/
}