body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}
a {
    font-style: none;
    color: var(--color-text-body);
}
.underlined {
    text-decoration: dotted underline var(--color-text-body) 1px;
    text-underline-offset: 3px;
}
.underlined a:hover {
  font-weight: 600!important;
}
.emphasis {
    font-weight: 700!important;
}
.line {
    border-top: dashed 1px var(--color-text-body);
}
.comparison {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    div {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
        p {
            font-weight: 700!important;
            font-size: 16px!important;
            text-align: center!important;
        }
        img {
        width: 100%!important;
        height: 275px!important;
    }
    }
}

.impact-frame {
  display: flex;
  flex-direction: column; align-items: flex-start;
  gap: 8px;
  padding: 24px 16px 16px;
  position: relative;
  background-color: #6d6d6a4c;
  border-radius: 8px; border: 1px dashed;
  border-color: #866666;
  gap:12px;
  width: 100%;
}
.impact-frame .div {
display: flex;
flex-direction: column; align-items: flex-start;
gap: 16px;
position: relative; align-self: stretch;
width: 100%;
flex: 0 0 auto;
}
.impact-frame .for-volunteers {
  font-family: var(--figcaption-font-family);
  font-size: var(--figcaption-font-size);
  color: var(--color-text-body);
}
ul {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  li {
    color: var(--color-text-body);
    list-style: circle;
    line-height: normal;
  }
}
/* .impact-frame .for-volunteers {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inconsolata-Regular", Helvetica;
  font-weight: 400;
  color: #d9d9d9; font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
} */
/* .impact-frame .text-wrapper {
  font-family: var(--figcaption-font-family);
  font-weight: var(--figcaption-font-weight);
  color: #d9d9d9;
  font-size: var(--figcaption-font-size);
  letter-spacing: var(--figcaption-letter-spacing);
  font-style: var(--figcaption-font-style);
  line-height: var(--figcaption-line-height);
} */
.impact-frame .span {
  font-family: var(--p-bold-font-family);
  font-weight: var(--p-bold-font-weight);
  line-height: var(--p-bold-line-height);
  font-style: var(--p-bold-font-style);
  letter-spacing: var(--p-bold-letter-spacing);
  font-size: var(--p-bold-font-size);
}
.impact-frame .text-wrapper-2 {
  font-family: var(--p-font-family);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
  font-weight: var(--p-font-weight);
  letter-spacing: var(--p-letter-spacing) ;
  font-size: var(--p-font-size);
}
.impact-frame .line {
  position: relative;
  align-self: stretch;
}
.impact-frame .div-2 {
  display: inline-flex; align-items: center;
  gap: 12px;
  position: relative;
  padding: 8px 0 0;
  flex: 0 0 auto;
  img {
    width: 14px;
    height: 14px;
  }
}
.impact-frame .text-wrapper-3 {
  position: relative; width: fit-content; margin-top: -1.00px;
  font-family: var(--figcaption-mobile-font-family)!important;
  font-weight: var(--figcaption-mobile-font-weight)!important;
  color: #d9a9d9;
  font-size: var(--figcaption-mobile-font-size)!important;
  letter-spacing: var(--figcaption-mobile-letter-spacing)!important;
  line-height: var(--figcaption-mobile-line-height)!important;
  white-space: nowrap;
  font-style: var(--figcaption-mobile-font-style)!important;
}
.impact-frame .img {
  position: relative;
  width: 10.83px; height: 9.61px;
}
.impact-frame .div-3 {
  display: inline-flex;
  flex-direction: column; align-items: flex-start;
  padding: 4px 8px;
  position: absolute;
  top: -13px; left: 16px;
  background-color: #866666; border-radius: 4px;
}
.impact-frame .div-3 {
  display: inline-flex; flex-direction: column; align-items: flex-start;
  padding: 4px 8px;
  position: absolute;
  top: -13px; left: 16px;
  background-color: #866666; border-radius: 4px;
}
.impact-frame .impact-overlay {
  position: absolute;
  width: fit-content;
  top: -12px;
  left: 2%;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: var(--figcaption-font-family);
  font-weight: 700; color: var(--color-text-body); font-size: var(--p-font-size); letter-spacing: 0; line-height: normal; white-space: nowrap;
  background-color: #866666;
}



.BMV {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  position: relative;
  background-color: var(--color-bg-primary);
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-bg-secondary);
  z-index: 1;
}
nav .div {
    gap: 16px;
    .nav-btn {
    /* padding: 8px 16px; */
    /* background-color: blue; */
    /* border-style: dashed; */
    width: 80px;
    height: auto;
    border-radius: 4px;
    gap: 16px;
    font-family: var(--p-font-family);
    font-size: var(--p-font-size);
    text-align: right;
}}
.star {
    display: none;
}
nav .nav-btn:hover, nav .nav-btn:active {
    font-weight: var(--h-3-font-weight);
    /* background-color: rgb(122, 138, 154,.5);
    color: rgb(244, 243, 230);
    font-weight: 700; */
    .star {
        display: inline;
    }
}
.burger {
    display: none;
    position: absolute;
    left: 5%;
    top: 38%;
    color: var(--color-text-body);
    cursor: pointer;
    z-index: 100;
}
.panel, #x, #o {
    display: none;
}
.text-wrapper {
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
  font-family: var(--display-font-family);
  font-weight: var(--display-font-weight);
  font-style: var(--display-font-style);
  color: var(--color-text-secondary);
  font-size: var(--display-font-size);
  letter-spacing: var(--display-letter-spacing);
  line-height: var(--display-line-height);
  white-space: nowrap;
}

.div {
  display: flex;
  align-items: center;
  gap: 48px;
  position: absolute;
  padding-top: 5px;
  right: 20%;
}

.text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: var(--color-text-secondary);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  white-space: nowrap;
  font-style: var(--p-font-style);
  /* margin-bottom: 3px; */
}
.text-wrapper-2:hover, .text-wrapper-32:hover {
    text-decoration: dotted underline var(--color-text-body) 1px;
    text-underline-offset: 3px;
}

.BMV .rectangle {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 60px;
  left: 0;
  object-fit: cover;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
  /* mask-mode: alpha;
  -webkit-mask-mode: alpha; */
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    height: auto;
    object-fit: cover;
    /* object-position: center center; */
    /* -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent); */
  }
  /* svg {
    display: absolute;
    top: 0;
    display: block;
  width: 100%;
  height: auto;
  mask: url(#bottomFadeMask);
  -webkit-mask: url(#bottomFadeMask);
  mask-type: alpha;
  -webkit-mask-type: alpha; */
}


/* homepage */
.iphone-pro {
  display: flex;
  flex-direction: column;
  min-height: 852px;
  align-items: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(
    180deg,
    rgba(122, 138, 154, 1) 0%,
    rgba(148, 159, 164, 1) 50%,
    rgba(161, 161, 151, 1) 100%
  );
}

.iphone-pro .frame {
  display: flex;
  flex-direction: column;
  width: 1138px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.iphone-pro .div {
  display: flex;
  flex-direction: column;
  width: 1138px;
  align-items: flex-start;
  gap: 48px;
  padding: 16px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f9f3ebb2;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%);
}

.iphone-pro .frame-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-color: #000000;
}

.iphone-pro .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.25px;
  margin-left: -0.25px;
  -webkit-text-stroke: 0.25px #000000;
  font-family: "Instrument Serif-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.iphone-pro .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  padding: 8px 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.iphone-pro .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Libre Franklin-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.iphone-pro .p {
  position: relative;
  width: 662px;
  margin-top: -1.25px;
  margin-left: -0.25px;
  -webkit-text-stroke: 0.25px #000000;
  font-family: "Libre Franklin-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .currently-pwc {
  position: relative;
  width: fit-content;
  margin-left: -0.25px;
  -webkit-text-stroke: 0.25px #606060;
  font-family: "Libre Franklin-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .span {
  font-family: "Libre Franklin-Regular", Helvetica;
  font-weight: 400;
  color: #606060;
  font-size: 20px;
  letter-spacing: 0;
}

.iphone-pro .text-wrapper-3 {
  text-decoration: underline;
}

.iphone-pro .frame-6 {
  display: flex;
  flex-wrap: wrap;
  width: 1090px;
  align-items: flex-start;
  gap: 48px 48px;
  position: relative;
  flex: 0 0 auto;
}

.iphone-pro .frame-7 {
  display: flex;
  flex-direction: column;
  width: 519px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  border-radius: 8px;
}

.iphone-pro .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.iphone-pro .div-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.iphone-pro .frame-8 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.iphone-pro .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px;
}

.iphone-pro .frame-10 {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.iphone-pro .frame-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.iphone-pro .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 2px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #b8b8b8;
  border-radius: 4px;
}

.iphone-pro .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inconsolata-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  white-space: nowrap;
}

.iphone-pro .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Libre Franklin-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .frame-13 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background-image: url(./img/frame-24.png);
  background-size: cover;
  background-position: 50% 50%;
}

.iphone-pro .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: "Libre Franklin-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .frame-14 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background-image: url(./img/frame-24-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.iphone-pro .frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 24px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: dashed;
  border-color: #000000;
}

.iphone-pro .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Libre Franklin-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.iphone-pro .thanks-for-visiting {
  position: relative;
  width: fit-content;
  font-family: "Inconsolata-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .text-wrapper-8 {
  font-family: "Inconsolata-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
}


/* bmv */
.BMV .frame-2 {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: flex-start;
  gap: 48px;
  margin-top: 225px;
  position: relative;
  flex: 0 0 auto;
}

.BMV .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--eyebrow-font-family);
  font-weight: var(--eyebrow-font-weight);
  color: var(--color-text-body);
  font-size: var(--eyebrow-font-size);
  letter-spacing: var(--eyebrow-letter-spacing);
  line-height: var(--eyebrow-line-height);
  font-style: var(--eyebrow-font-style);
}

.BMV .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: var(--h-1-font-family);
  font-weight: var(--h-1-font-weight);
  color: var(--color-text-body);
  font-size: var(--h-1-font-size);
  letter-spacing: var(--h-1-letter-spacing);
  line-height: var(--h-1-line-height);
  font-style: var(--h-1-font-style);
}

.BMV .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.BMV .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.BMV .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: var(--color-text-body);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

.BMV .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: var(--color-text-body);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

.BMV .text-wrapper-6 {
  font-family: "inconsolata", monospace;
  font-size: 14px;
  line-height: normal;
  position: relative;
  width: fit-content;
  font-weight: 400;
  color: var(--color-text-body);
  letter-spacing: 0;
  white-space: nowrap;
}

.BMV .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.BMV .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--p-font-family);
  font-weight: var(--h-2-font-weight);
  color: var(--color-text-body);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

.BMV .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: var(--color-text-body);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

.BMV .frame-7 {
  display: flex;
  flex-direction: column;
  width: 136px;
  align-items: flex-start;
  gap: 6px;
  position: relative;
}

.BMV .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.BMV .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--figcaption-font-family);
  font-weight: var(--figcaption-font-weight);
  color: var(--color-text-body);
  font-size: var(--figcaption-font-size);
  letter-spacing: var(--figcaption-letter-spacing);
  line-height: var(--figcaption-line-height);
  font-style: var(--figcaption-font-style);
}

.BMV .text-wrapper-10 {
  font-family: "libre franklin", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  position: relative;
  align-self: stretch;
  color: var(--color-text-body);
  letter-spacing: 0;
}

.BMV .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
}

.BMV .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .frame-11 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--color-avatar-bg);
  border-radius: 9999px;
  overflow: hidden;
}

.BMV .text-wrapper-11 {
  font-family: "inconsolata", monospace;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  color: var(--color-text-body);
  letter-spacing: 0;
  line-height: normal;
}

.BMV .frame-12 {
  justify-content: center;
  gap: 4px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.BMV .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .text-wrapper-12 {
  font-family: var(--h-4-font-family);
  font-weight: var(--h-4-font-weight);
  font-size: var(--h-4-font-size);
  position: relative;
  width: fit-content;
  color: var(--color-text-body);
  letter-spacing: var(--h-4-letter-spacing);
  line-height: var(--h-4-line-height);
  font-style: var(--h-4-font-style);
}

.BMV .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: var(--color-text-body);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

.BMV .frame-13 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  /* height: 100%; */
  flex: 0 0 auto;
}

.BMV .frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-bg-card);
  border-radius: 8px;
  width: 50%;
  color: var(--color-text-body);
  img {
    width: 100%;
    height: 100%;
  }
}
.no-bg {
  background-color: rgb(0,0,0,0)!important;
  padding: 16px 0!important;
  .frame-10 {
    gap: 8px!important;
  }
}

.BMV .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: var(--color-text-body);
  font-size: var(--h-3-font-size);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  font-style: var(--h-3-font-style);
}

.BMV .frame-15 {
  gap: 16px;
  padding: 16px;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-bg-card);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.BMV .priority-allowing-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 8px;
}

.BMV .priority-allowing {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: var(--color-text-body);
  font-size: var(--h-3-font-size);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  font-style: var(--h-3-font-style);
}

.BMV .frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--color-bg-card);
  border-radius: 8px;
}

.BMV .div-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "inconsolata", monospace;
  font-weight: 400;
  color: var(--color-text-body);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.BMV .span {
  font-family: var(--figcaption-font-family);
  font-weight: var(--figcaption-font-weight);
  color: var(--color-text-body);
  font-size: var(--figcaption-font-size);
  letter-spacing: var(--figcaption-letter-spacing);
  font-style: var(--figcaption-font-style);
  line-height: var(--figcaption-line-height);
}

.BMV .text-wrapper-15 {
  font-family: var(--h-4-font-family);
  font-size: var(--h-4-font-size);
  font-style: var(--h-4-font-style);
  font-weight: var(--h-4-font-weight);
  letter-spacing: var(--h-4-letter-spacing);
  line-height: var(--h-4-line-height);
}

.BMV .text-wrapper-16 {
  font-family: "libre franklin", sans-serif;
  font-size: 18px;
}

.BMV .rectangle-2 {
  height: 432px;
  position: relative;
  align-self: stretch;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.BMV .overlap-group-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 450px;
  background-color: var(--color-bg-muted);
  border-radius: 8px;
  overflow: hidden;
}

.BMV .overlap-group {
  position: relative;
  width: 768px;
  height: 450px;
  /* background-image: url(./img/screenshot-2025-05-07-at-9-48-48-AM-1.png); */
  background-size: cover;
  background-position: 50% 50%;
}

.BMV .IMG {
  position: absolute;
  width: 229px;
  height: 420px;
  top: 30px;
  left: 539px;
  object-fit: cover;
}

.BMV .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .frame-18 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.BMV .frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.BMV .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "libre franklin", sans-serif;
  font-weight: 700;
  color: var(--color-text-body);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.BMV .div-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "inconsolata", monospace;
  font-weight: 400;
  color: var(--color-text-body);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
}

.BMV .text-wrapper-18 {
  font-family: "inconsolata", monospace;
  font-weight: 400;
  color: var(--color-text-body);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
}

.BMV .text-wrapper-19 {
  font-family: "libre franklin", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
}

.BMV .text-wrapper-20 {
  font-family: "libre franklin", sans-serif;
  font-size: 16px;
  line-height: 20.8px;
}

.BMV .frame-20 {
  position: relative;
  width: 100%;
  height: 100%;
}

.BMV .frame-21 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.BMV .frame-22 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-text-body)33;
  border-radius: 4px;
  overflow: hidden;
  /* border: 1px solid;
  border-color: var(--color-text-body); */
}

.BMV .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "inconsolata", monospace;
  font-weight: 700;
  color: var(--color-text-body);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
  button {
    background-color: rgb(0,0,0,0);
  }
}
#afterBtn, #beforeBtn {
    background-color: rgb(0,0,0,0);
    border: 0;
}
#afterBtn.active,
#beforeBtn.active {
  outline: 2px solid var(--color-text-body);
  outline-offset: 4px;
  border-radius: 6px;
  transition: outline 0.2s ease;
}


.BMV .frame-23 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-text-body);
  border-radius: 4px;
  overflow: hidden;
}

.BMV .frame-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
}

.BMV .frame-25 {
  /* justify-content: center; */
  gap: 12px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  padding: 16px;
  background-color: var(--color-bg-card);
  border-radius: 8px;
  height: 100%;
}

.BMV .volunteers-can-now {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "libre franklin", sans-serif;
  font-weight: 400;
  color: var(--color-text-body);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.BMV .text-wrapper-23 {
  font-weight: 700;
  text-decoration: underline;
}

.BMV .text-wrapper-24 {
  font-weight: 700;
}

.BMV .text-wrapper-25 {
  font-family: "libre franklin", sans-serif;
}

.BMV .text-wrapper-26 {
  position: relative;
  align-self: stretch;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: var(--color-text-body);
  font-size: var(--h-3-font-size);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  font-style: var(--h-3-font-style);
}

.BMV .frame-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 8px;
}

.BMV .admins-can-now {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "libre franklin", sans-serif;
  font-weight: 400;
  color: var(--color-text-body);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.BMV .text-wrapper-27 {
  font-family: "libre franklin", sans-serif;
  font-weight: 400;
  color: var(--color-text-body);
  font-size: 16px;
  letter-spacing: 0;
}

.BMV .text-wrapper-28 {
  font-family: "libre franklin", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.BMV .this-project-was-my {
  position: relative;
  align-self: stretch;
  font-family: "libre franklin", sans-serif;
  font-weight: 400;
  color: var(--color-text-body);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.BMV .text-wrapper-29 {
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: var(--color-text-body);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

.BMV .text-wrapper-30 {
  font-family: var(--h-1-font-family);
  font-weight: 700;
  color: var(--color-text-body);
}

.BMV .frame-27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding: 72px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--color-bg-secondary);
}

.BMV .text-wrapper-31 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--display-font-family);
  font-weight: var(--display-font-weight);
  font-style: var(--display-font-style);
  color: var(--color-text-secondary);
  font-size: var(--display-font-size);
  letter-spacing: var(--display-letter-spacing);
  line-height: var(--display-line-height);
}

.BMV .frame-28 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.BMV .text-wrapper-32 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: var(--color-text-body);
  font-size: var(--p-font-size);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  /* text-decoration: underline; */
  white-space: nowrap;
  font-style: var(--p-font-style);
}

.BMV .text-wrapper-33 {
  margin-top: -1.00px;
  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  position: relative;
  width: fit-content;
  font-weight: var(--p-font-weight);
  color: var(--color-text-body);
  letter-spacing: var(--p-letter-spacing);
  white-space: nowrap;
  font-style: var(--p-font-style);
}
.auto-height {
  width: 100%;
  height: auto!important;
}

/* lux */

.lux .impact {
  .frame-13 {
  flex-direction: column;
  .frame-15 {
    width: 100%;
    flex-direction: row;
    .text-wrapper-14 {
      max-width: 85%;
    }
  }
}
}

/* hosp */
#hosp-solutions {
  display: flex;
  flex-direction: column;
  gap: 48px!important;
  margin-top: 24px;
}

/* about */
.about .rectangle {
  width: 55%;
  top: 100px;
  left: 50%;
  height: 300px;
  transform: translateX(-50%);
  -webkit-mask-image: none;
  mask-image: none;
  img {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    /* object-fit: cover; */
  }
}
.about .frame-2 {
  gap: 24px;
}
.about .frame-3 {
  margin-top: 210px;
  gap: 0;
}


@media only screen and (max-width: 600px) {
    @keyframes panelSlideIn {
        from {
            left: -101vw;
        }
        to {
            left: 0vw;
        }
    }

    @keyframes panelSlideOut {
        from {
            left: 0vw;
        }
        to {
            left: -101vw;
        }
    }
    .nav-btn {
        display: none;
    }
    #o{
        display: block;
        z-index: 1000;
    }
    .panel {
        background-color: var(--color-bg-secondary);
        /* background-image: url(assets/blur.svg); */
        opacity: 1;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0px;
        left: 0px;
        /* bottom: 20px; */
        display: none;
        z-index: 100;
        padding: 80px 20px 20px;
        animation: panelSlideIn 500ms ease-in-out;
    }
    .panel a:hover, .panel a:active {
      .star {
        display: inline;
      }
      font-weight: 600!important;
    }
    #panelcont {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        width: 90%!important;
        gap: 4px;
    }
    #panelcont a {
        display: block;
        text-decoration: none;
        color: var(--color-text-body);
        font-family: var(--h-1-font-family);
        text-transform: capitalize;
        width: auto!important;
        opacity: 1!important;
    }
    .sociallink {
        color: var(--color-text-secondary)!important;
    }
    #panelcont a:hover {
        text-decoration: 1px dotted underline var(--color-bg-primary);
        text-underline-offset: 3px;
    }
    .BMV {
        width: 100vw!important;
    }
    body {
        width: 100vw!important;
        height: auto;
    }
    .BMV .rectangle {
      img {
        width: 180%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
      }
    }
    .BMV .frame-2 {
        width: 90%!important;
    }
    .BMV .frame-13 {
        flex-direction: column;
    }
    .BMV .frame-14 {
      width: 100%;
    }
    .comparison {
        flex-direction: column;
        div {
            width: 100%;
        }
    }
    .about .rectangle {
      width: 90%;
      top: 75px;
      img {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .about .frame-3 {
      margin-top: 150px;
    }
    .project-navigation {
      div {
        max-width: 45%;
      }
    }
}